{% comment %}
This is the default footer page. It contains contact, visiting address and
a Follow us on FB and Twitter.
{% endcomment %}
{% load staticfiles %}
<div class="container">
	<div class="row">
		<div class="footer">
			<div id="f-contact">
				<p>
					<b>Contact us</b><br />
					<a href="mailto:michael.tiberg@foocafe.org">michael.tiberg@foocafe.org</a><br />
					+46-701-46 92 54
				</p>
			</div>
			<div id="f-visit">
				<p>
					<b>Visit us</b><br />
					Stora Varvsgatan 6a<br />
					211 19 Malmö
				</p>
			</div>
			<div id="f-follow">
				<p>
					<b>Follow us</b><br />
					<a href="http://twitter.com/_foocafe_" target="_blank">Twitter</a><br />
					<a href="http://www.facebook.com/FooCafe" target="_blank">Facebook</a>
				</p>
			</div>
			<div id="wemade">
				<p>
					<a href="http://www.dksp.se" target="_blank"><img src="{% static 'images/wemadethis.png' %}"></a>
				</p>
			</div>
		</div>
	</div>
</div>
